/*Full Site CSS*/
body, html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: cornsilk;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-left: 9px;
    padding-right: 9px;
   
}
/*Footer CSS*/
footer {
    position:fixed;
    bottom: 0%;
    height: 45px;
    width: 100%;
    background: #343a34;
    color: white;
    align-items:center;
}
/*Profile Pic CSS*/
.about-image {
    float: left;
    margin-right: 1rem;
}

/*Portfolio Page*/
.portfolio-text {
text-align: center;
}
.portfolio-card{
    padding: 4px;
    border: 6px;
    border-color: #343a34;
}
.page-title{
    text-align: center;
}
.col-xs-12.col-md-9.shadow.p-3.mb-5.rounded {
 background-color:#8fa4aa ;
}

/*Contact Page Box Styling*/
.form-group {
    border-radius: 9px;
    background-color: #d8d8d8;
    padding: 9px;
}


/*Media Query for All Pages*/
@media screen and (max-width: 640px) {
    .about-image {
        float: middle;
    }

    nav ul li {
        width: 32%;
        text-align: center;
        padding: 20px 0;
    }
    
    nav {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
    }